{% extends '::base.html.twig' %}

{% block content %}
<ul>
  <li><h3>{{ category.name }}</h3></li>
  <li><h3>{{ category.description }}</h3></li>
  <li><h3>{{ category.parent }}</h3></li>
</ul>
{% endblock %}
